[submodule "support/expresso"]
	path = support/expresso
	url = https://github.com/visionmedia/expresso
[submodule "support/should"]
	path = support/should
	url = https://github.com/visionmedia/should.js
[submodule "support/validator"]
	path = support/validator
	url = https://github.com/chriso/node-validator.git
